<div>
    <form>
        <input name:"id" type="text" placeholder="Nombre de usuario" id="input" class="">
        <input name="nombres" type="text" placeholder="Nombres" id="input" class="">
        <input name="apellidos" type="text" placeholder="Apellidos" id="input" class="">
        <input name="contraseña" type="password" placeholder="Contraseña" id="input" class="">
        <input name="correoElectronico" type="email" placeholder="Correo electrónico" id="input" class="">
        <fieldset>
            <legend> <b> <hr> Datos de sesión </b> </legend>
            <input name="id" type="text" placeholder="Nombre de usuario" id="input" class="">
            <input name="correoElectronico" type="email" placeholder="Correo electrónico" id="input" class="">
            <input name="contraseña" type="password" placeholder="Contraseña" id="input" class="">
        </fieldset>
        <fieldset>
            <legend> <b> <hr> Datos personales </b> </legend>
            <input name="direccion" type="text" placeholder="Dirección" id="input" class="">
            <input name="ciudad" type="text" placeholder="Ciudad" id="input" class="">
            <input name="telefono" type="number" placeholder="Teléfono" id="input" class="">
        </fieldset>
    </form>
</div>