<form  id="iniciarSesion" class="iniciarSesion" action="hola.html">
    <input id="inputSesion" class="input"name="nombreUsuario" type="text" placeholder="Usuario" required>
    <br>
    <input id="inputSesion" class="input" name="contraseña" type="password" placeholder="Contraseña" required>
    <br>
    <input id="buttonSesion" class="button" type="submit" value="Entrar">
</form>
<a class="menuText" href"#" >Olvidaste la contraseña?</a>
<br>
<br>
<a  class="menuText" href="registroUsuario.php">¿No tienes usuario? ¡Registrate!</a>
<br>
<div id="mensaje" class="menuText">
</div>
