<form  id="iniciarSesion" style:"z-index:2;">
    <input id="inputSesion" class="input"name="nombreUsuario" type="text" placeholder="Usuario" required>
    <br>
    <input id="inputSesion" class="input" name="contraseña" type="password" placeholder="Contraseña" required>
    <br>
    <input id="buttonSesion" class="button" type="button" value="Entrar">
</form>
<a class="menuText"  href"#" >Olvidaste la contraseña?</a>
<br>
<br>
<a  class="menuText" href="registroUsuario.php">¿No tienes usuario? ¡Registrate!</a>
<div id="mensaje">
</div>
