<!DOCTYPE>
<html>
    <head lang="es">
        <title>{titulo}</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="templates/css/stylesheet.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">       
            var x = $(document);
            x.ready(iniciar);
            
            function iniciar(){
                var content = $("#content");
                var nav = $("nav");
                content.css("top", nav.css("height"));

                var sesion2 =$("#iniciarSesion");
                sesion2.mouseenter(ventanaIniciarSesion);
                var sesion =$("#formIniciarSesion");
                sesion.mouseleave(ventanaIniciarSesion);
                
                //Sesion
                if(localStorage.getItem("nombreUsuario_importBool")){
                    loadAnswer();
                }
                else{
                    loadForm();
                }
                function loadForm(){
                    $("#formIniciarSesion").load("templates/iniciarSesion.html",function(){
                        $(".iniciarSesion").submit(function(event){
                            event.preventDefault();
                            sendData();
                            $("#mensaje").text("Cargando...");
                        });
                    });
                }
            //Enviar Formulario de Registro
                 $("#formularioRegistro").submit(function(event){
                    event.preventDefault();
                    alert("si");
                    sendRegistro();
                    $("#mensajeRegistro").text("Cargando...");
            })
            }
            function loadAnswer(){
                $("#mensaje").text("Sesion Iniciada");
            }

            function sendData(){
                var nombreUsuario = $("[name= 'nombreUsuario']").val();
                var contrasena = $("[name='contraseña']").val();
                $.ajax({
                    data:"nombreUsuario="+nombreUsuario+"&contraseña="+contrasena,
                    type: "POST",
                    datatype: "json",
                    url: "",
                    success: function(data){
                        saveStorage(data);
                    }

                });
                function saveStorage(data){
                    if(data = "error"){
                        $("#mensaje").text("Error");
                    }
                    else{
                        if(localStorage){
                            localStorage.setItem("nombreUsuario_importBool",data["nombreUsuario"]);
                        }
                        else{
                            alert("Por favor actualiza tu navegador");
                        }
                    }
                }
            }

            //Ventana de sesion
            function ventanaIniciarSesion(){
                var x = $("#formIniciarSesion");
                var y = $("#iniciarSesion");
                var z = $("nav");
                x.css("left",((y.width()/2)+y.offset().left)-x.width()/2);
                x.css("top", z.css("height"));
                x.slideToggle("fast");
            }

            //****************************************************************************
            //Formulario de Registro
            function sendRegistro(){
                var nombreUsuario = $("[name = 'nombreUsuarioRegistro']").val();
                var nombres = $("[name = 'nombres']").val();
                var apellidos = $("[name = 'apellidos']").val();
                var correoElectronico = $("name = 'correoElectronico'").val();
                var contrasena1 = $("[name = 'contraseña1']").val();
                var contrasena2 = $("[name = 'contraseña2']").val();
                if(contrasena1 == contrasena2){
                    var direccion = $("[name]='direccion'");
                    var telefono = $("[name] = 'telefono'");
                    var celular = $("[name] = 'celular'");
                    $.ajax({
                        data:"nombreUsuario="+nombreUsuario+" &nombres="+nombres+" &apellidos="+apellidos+" &correoElectronico="+correoElectronico+" &contraseña="+contrasena1+" &direccion= "+direccion+" &telefono="+telefono+" &celular="+celular,
                        type: "POST",
                        datatype: "json",
                        url: "",
                        success: function(data){
                            confirmacion(data);
                        }
                    });
                }
                else{
                    $("#mensajeRegistro").text("Las contraseñas no coinciden");
                }
            }

            function confirmacion(data){
                $("#mensajeRegistro").text(data);
            }


            //********************************************************************
        </script>
    </head>
    <body>
        <header>
            <div id="nombrePagina">
                <h1 id="nombrePaginaH" class="menuText"><a href="index.php">Imp.bool</a></h1>
            </div>
            <nav>
                <ul id="navList">
                    <li id="navItem"><a class="menuText" href="index.php">Inicio</a></li>
                    <li id="navItem"><a class="menuText" href="#">Quiénes somos</a></li>
                    <li id="navItem"><a class="menuText"href="#">Cómo funciona</a></li>
                    <li id="navItem"><a id="iniciarSesion" class="menuText" href="#" onclick="ventanaIniciarSesion()" >Iniciar sesion</a><div class="sesion" id="formIniciarSesion" display="inblock">

                        </div></li>
                </ul>
            </nav>
        </header>
        <div id="content">
            <div id="body">
                {miVariable}
            </div>
            
        </div>
        <footer>
            
        </footer>
    </body>
</html>
